.div1{
    width: 1500px;
    height: 500px;
    background-color:#073898;
    text-decoration: whitesmoke;

}
.div2{
    width: 1500px;
    height: 500px;
    background-color:#073898;
    text-decoration: whitesmoke;

}
.div3{
    width: 1500px;
    height: 500px;
    background-color:#073898;
    text-decoration: whitesmoke;

}
.div4{
    width: 1500px;
    height: 500px;
    background-color:#073898;
    text-decoration: whitesmoke;

}
.div5{
    width: 1500px;
    height: 500px;
    background-color:#073898;
    text-decoration: whitesmoke;

}
.place{
    margin-bottom: 0px;
    margin-top: 0px;
}
